<app-menu></app-menu>
<div class="list-group">
  <a class="list-group-item list-group-item-vozila history" style="min-height: 180px; max-height: 100px;" *ngFor = "let i = index; let rezervisanoVozilo of listaIstorijeVozila | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="media col-md-3">
          <figure class="pull-left">
              <img class="media-object img-rounded img-responsive" style="width: 250px; height: 150px;"  src="assets/vozilo.jpg" alt="placehold.it/350x250" >
          </figure>
      </div>
      <div class="col-md-6">
          <!-- <h3 class="list-group-item-heading">Naziv: {{rezervisanoVozilo.voziloDTO.naziv}} </h3> -->
          <h4 class="list-group-item-text">Pocetni Datum: {{rezervisanoVozilo.pocetniDatum}}</h4>
          <h4 class="list-group-item-text">Krajnji Datum: {{rezervisanoVozilo.krajnjiDatum}}</h4>
          <h4 class="list-group-item-text">Tip: {{rezervisanoVozilo.tip}}</h4>
          <h4 class="list-group-item-text">Cena: {{rezervisanoVozilo.cenaZakupa}}$</h4>
      </div>
      
      <div style="min-width: 150px;" class="col-md-3 text-center centered">
          <!-- [readonly]="dozvoliOcenjivanjeVozilo(rezervisanoVozilo.ocena)" -->
          <rating (click)="oceniVozilo(rezervisanoVozilo)" [(ngModel)]="rezervisanoVozilo.ocena" ></rating>
          <!-- <button *ngIf = "rezervisanoVozilo.ocena != 0" type="button" style="white-space: inherit" class="btn btn-default btn-lg btn-block" (click) = "enableizmeniOcenuVozilo(rezervisanoVozilo)"> Izmeni Ocenu </button> -->
      </div>
  </a>
  </div>