<div class="row">
  <div *ngIf = "vidjivoBrzeRezervacije()" class="col-md-8 col-sm-offset-4 brzaRezervacija">
      <img style="max-width: 100%; height: 200px;" class="img-fluid" (click) = "brzaRezervacija()" src="assets/hotel/SALE.jpg"/>
  </div>
<div class="col-md-8 col-sm-offset-2" style="margin-bottom: 15px;">
      <form class="md-form mr-auto mb-4">
              <table class="table table-striped">
          <tbody>
              <tr>
                  <td>
                      <label>Adresa servisa</label>
                  <ng-multiselect-dropdown [placeholder]="'Adresa'" [data]="adreseRenta" [(ngModel)]="izabranaAdresa" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}">
                  </ng-multiselect-dropdown>
              </td>
              <td>
                  <label>Naziv servisa</label>
                  <ng-multiselect-dropdown [placeholder]="'Naziv'" [data]="naziviRenta" [(ngModel)]="izabraniNaziv" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}">
                  </ng-multiselect-dropdown>
              </td>
              <td>
                      <input class="form-control mr-sm-2" style="margin-top:24px;" type="button" value="Trazi" aria-label="Search" (click) = "trazi()">
              </td>
          </tr>
  </table>
    </form>
</div>
  <div class="col-md-8 col-sm-offset-2">
        <div class="list-group">
          <a class="list-group-item" style="min-height: 220px; max-height: 350px;" *ngFor = "let i = index; let rentacar of rentacarovi | paginate: { itemsPerPage: 5, currentPage: p }">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="assets/kompanija.jpg" alt="placehold.it/350x250" (click)="viewDetails(rentacar.id)">
                    </figure>
                </div>
                <div class="col-md-6">
                  <a (click)="getAllSort('naziv')">{{rentacar.naziv}} </a>
                  <a (click)="getAllSort('adresa')"> <small><i>{{rentacar.adresa.zemlja}}</i></small> <small><i>{{rentacar.adresa.grad}}</i></small> 
                    <small><i>{{rentacar.adresa.ulica}}</i></small> <small><i>{{rentacar.adresa.broj}}</i></small></a>
                  <span class="glyphicon glyphicon-map-marker" (click) = "pokaziMapu(rentacar.longitude, rentacar.latitude)" ></span>
                  <p class="group inner list-group-item-text">
                    {{rentacar.opis}}</p>
                </div>
                <div *ngIf="ulogovaniKorisnikImaDozvoluDaBrise()" class="col-md-2" style="margin-top: 5px; padding: 0px;">
                  <span class="glyphicon glyphicon-trash" (click) = "delete(rentacar.id)"></span>
              </div>
              <div *ngIf="ulogovaniKorisnikImaDozvoluDaMenja()" class="col-md-2" style="margin-top: 5px; padding: 0px;">
                  <span class="glyphicon glyphicon-wrench" (click) = "update(rentacar.id)"></span>
              </div>
              <button *ngIf="ulogovaniKorisnikImaDozvoluDaMenja()" (click) = "createGarage(rentacar.id)" >Kreiraj Garazu
              </button>
          </a>
        </div>
        
    <div class="item col-lg-10 col-lg-10" style="width: 100%; text-align: center;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>